/* purgecss start ignore */
@tailwind base;
/* purgecss end ignore */
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
}

.clip-background {
  background: theme("colors.black");
  background: linear-gradient(
    to right,
    theme("colors.black"),
    theme("colors.blue.900")
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;

  .clip-background-revert {
    background: currentColor;
    background-clip: text;
    -webkit-text-fill-color: currentColor;
  }

  @screen dark {
    background: theme("colors.white");
    background: linear-gradient(
      to right,
      theme("colors.white"),
      theme("colors.blue.200")
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.resume-background {
  background: linear-gradient(to right, #000 0%, #000 50%, #fff 50%, #fff 100%);
}
