@tailwind base;
@tailwind components;
@tailwind utilities;

.clip-background {
  background: theme("colors.black");
  background: linear-gradient(
    to right,
    theme("colors.black"),
    theme("colors.blue.900")
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;

  .text-white {
    background: white;
    background-clip: text;
    -webkit-text-fill-color: white;
  }

  @screen dark {
    background: theme("colors.white");
    background: linear-gradient(
      to right,
      theme("colors.white"),
      theme("colors.blue.200")
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
